<!DOCTYPE html>
<html>

<head>
    <title>我的申请</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <script type="text/javascript">
        /*隐藏微信端右上角...*/
        function hiddenShareLink(){
            WeixinJSBridge.call('hideOptionMenu');
        }

        if(document.addEventListener){
            document.addEventListener('WeixinJSBridgeReady', hiddenShareLink, false);
        }else if(document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady' , hiddenShareLink); document.attachEvent('onWeixinJSBridgeReady' , hiddenShareLink);
        }
    </script>
    <link href="/${mobileRes!}/css/weui.css" rel="stylesheet" type="text/css"/>
    <link href="/${mobileRes!}/css/jquery-weui.css" rel="stylesheet" type="text/css"/>
    <link href="/${mobileRes!}/css/index.css" rel="stylesheet" type="text/css"/>
    <script src="/${mobileRes!}/js/vue.min.js"></script>
</head>
<body ontouchstart style="background: #F5F5F5;">
<nav id="discovery-nav-sec">
    <a class="on"><i>进行中</i><span></span></a>
    <a><i>已完成</i><span></span></a>
</nav>
<div class="weui-tab mine-weui-tab" style="margin-top: 11px;height: calc(100% - 11px);">
    <div  style="min-height: calc(100% + 1px);">
        [#include "../include/pullToRefresh.html"/]
        <div  class="discovery_tab">
            <!--进行中的申请 -->
            <div class="weui-pannel__bd" id="applyUncomplated" style="background: #F5F5F5;">
                <a v-for="(u,i) in applyUncomplated" :href="'${base}/contentsqjd/index.jhtml?processInstanceId='+u.processInstanceId" v-cloak class="apply-item">
                    <div>{{ u.processInstanceName }}</div>
                    <div></div>
                    <div>申请单号：{{u.form_no}}</div>
                    <div>申请时间：{{u.startTime}}</div>
                    <img src="/${mobileRes!}/img/wode_jiantou.png" alt="">
                    <i></i>
                </a>
                <div class="nocollect-info-dv-sec" style="display:block;top: 58px;border-top: none;" v-if="applyUncomplated.length == 0">
                    <img src="/${mobileRes!}/img/apply_jinxingzhong.png" alt=""/>
                </div>
                <div v-else class="no-more-info" style="border-top: none;background: none">没有更多</div>
            </div>
        </div>
    </div>
</div>
<div class="weui-tab mine-weui-tab weui-tab-sec" style="display:none;margin-top: 11px;height: calc(100% - 11px);">
    <div  style="min-height: calc(100% + 1px);">
        [#include "../include/pullToRefresh.html"/]
        <div  class="discovery_tab">
            <!--已完成的申请 -->
            <div class="weui-pannel__bd" id="applyComplated" style="background: #F5F5F5;">
                <a v-for="(u,i) in applyComplated" :href="'${base}/contentsqjd/index.jhtml?processInstanceId='+u.processInstanceId" v-cloak class="apply-item">
                    <div>{{ u.processInstanceName }}</div>
                    <div></div>
                    <div>申请单号：{{u.form_no}}</div>
                    <div>申请时间：{{u.startTime}}</div>
                    <img src="/${mobileRes!}/img/wode_jiantou.png" alt="">
                    <i></i>
                </a>
                <div class="nocollect-info-dv-sec" style="display:block;top: 58px;border-top: none;" v-if="applyComplated.length == 0">
                    <img src="/${mobileRes!}/img/apply_wancheng.png" alt=""/>
                </div>
                <div v-else class="no-more-info" style="border-top: none;background: none">没有更多</div>
            </div>
        </div>
    </div>
</div>
<div class="top-container">
    <div class="top"></div>
    <div class="top-sec"></div>
</div>
<script src="/${mobileRes!}/js/jquery-2.1.4.js"></script>
<script src="/${mobileRes!}/js/fastclick.js"></script>
<script src="/${mobileRes!}/js/global.js"></script>
<script>
    $.ajaxSetup({ async: false });
    $(function () {
        FastClick.attach(document.body);
        $("#discovery-nav-sec a").off("click").on("click",function(e){
            var index = $(this).index();
            $(this).addClass("on").siblings().removeClass("on");
            $(".weui-tab").css("display","none").css("zIndex","0");
            $($(".weui-tab")[index]).css("display","block").css("zIndex","502");
            $(".top-container>div").css("zIndex","501");
            $($(".top-container>div")[index]).css("zIndex","503");
            e.preventDefault();
        });

        //获取token
        var userId = ${user.username};
        $.get(document.tokenUrl +　"api/front/token?loginId=" +  userId, function(data){
            if(data.code == 200){
                getApplyList(data.body.token);
                getApplyCount(data.body.token);
            }
        });
        function getApplyCount(token){
            var applyUncomplatedCount = 0;
            $.get(document.showUrl + "service/task/myapplycount?username=" + token, function(data){
                if(data.source){
                    applyUncomplatedCount = data.data;
                    if(applyUncomplatedCount>0){
                        $("#discovery-nav-sec>a:first-child>i").text("进行中 ("+applyUncomplatedCount+")");
                    }
                }
            } );
        }

        function getApplyList(token){
            var applyComplated = [];
            var applyUncomplated = [];
            $.get(document.showUrl +　"service/task/myapplylist?username=" + token, function(data){
                if(data.source){
                    for(var i = 0;i < data.data.length;i++){
                        data.data[i].startTime = data.data[i].startTime.split(" ")[0];
                        if(data.data[i].status == "0"){
                            //已经完成的申请
                            applyComplated.push(data.data[i]);
                        }
                        if(data.data[i].status == "1"){
                            //未完成的申请
                            applyUncomplated.push(data.data[i]);
                        }
                    }
                }

            } );
            new Vue({
                el: '#applyComplated',
                data: {
                    applyComplated:applyComplated
                }
            });
            new Vue({
                el: '#applyUncomplated',
                data: {
                    applyUncomplated:applyUncomplated
                }
            });
        }
    });
    $(function(){
        /*back-to-top sec*/
        var topMain=$(".head").height();
        $('.weui-tab-sec').scroll(function(){
            if ($('.weui-tab-sec').scrollTop()>topMain){
                $(".top-sec").fadeIn(400,"swing");
            }
            else{
                $(".top-sec").fadeOut(400,"swing");
            }
        });
        $(".top-sec").click(function(){$(".weui-tab-sec").animate({scrollTop:0},400)});
    });

</script>
<script src="/${mobileRes!}/js/jquery-weui.js"></script>
<script src="/${mobileRes!}/js/pullToRefresh.js"></script>
<script src="/${mobileRes!}/js/back-to-top.js"></script>
</body>

</html>