<!DOCTYPE html>
<html>

<head>
    <title>我的待办</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <script type="text/javascript">
        /*隐藏微信端右上角...*/
        function hiddenShareLink(){
            WeixinJSBridge.call('hideOptionMenu');
        }

        if(document.addEventListener){
            document.addEventListener('WeixinJSBridgeReady', hiddenShareLink, false);
        }else if(document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady' , hiddenShareLink); document.attachEvent('onWeixinJSBridgeReady' , hiddenShareLink);
        }
    </script>
    <link href="/${mobileRes!}/css/weui.css" rel="stylesheet" type="text/css"/>
    <link href="/${mobileRes!}/css/jquery-weui.css" rel="stylesheet" type="text/css"/>
    <link href="/${mobileRes!}/css/index.css" rel="stylesheet" type="text/css"/>
    <script src="/${mobileRes!}/js/vue.min.js"></script>

</head>
<body ontouchstart style="background: #F5F5F5;">
<div class="weui-tab mine-weui-tab" style="height: calc(100% + 50px);">
    <div  style="min-height: calc(100% + 1px);">
        [#include "../include/pullToRefresh.html"/]
        <div  class="discovery_tab">
            <div class="weui-pannel__bd mine-weui-pannel__bd" id="list">
                <!-- 我的待办单位项目-->
                <a class="todo-item" v-cloak v-for="item in dt" :href="lnkUrl + item.url" >
                    <div>{{ item.taskTitle }}</div>
                    <div>{{ item.taskName }}</div>
                    <div></div>
                    <div>申请时间：{{ item.startTime }}</div>
                    <img src="/${mobileRes!}/img/wode_jiantou.png" alt="">
                    <i></i>
                </a>
                <div v-if="dt.length>0" class="no-more-info" style="border-top: none;background: none">没有更多</div>
                <!-- 暂无待办提示-->
                <div class="nocollect-info-dv-sec" style="top: 49px">
                    <img src="/${mobileRes!}/img/todo.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 回到顶部按钮-->
<div class="top"></div>

<script src="/${mobileRes!}/js/jquery-2.1.4.js"></script>
<script src="/${mobileRes!}/js/fastclick.js"></script>
<script src="/${mobileRes!}/js/global.js"></script>
<script>
    $.ajaxSetup({ async: false });
    $(function () {
        FastClick.attach(document.body);
        //获取token
        var userId = ${user.username};
        $.get(document.tokenUrl + "api/front/token?loginId=" + userId , function(data){
            if(data.code == 200){
                getTodoList(data.body.token);
            }
        });
        function getTodoList(token){
            var dt = [];
            $.get(document.showUrl +　"service/task/mytodotasklist?username=" + token, function(data){
                for(var i = 0 ; i <　data.data.length; i++){
                    data.data[i].startTime = data.data[i].startTime.split(" ")[0];
                }
                if(data.source){
                    dt = data.data;
                    if(data.data.length==0){
                        $(".nocollect-info-dv-sec").css("display","block");
                    }
                }
                else{
                    $(".nocollect-info-dv-sec").css("display","block");
                }
            } );
            new Vue({
                el: '#list',
                data: {
                    dt:dt ,
                    lnkUrl:document.showUrl
                }
            });
        }

    });

</script>
<script src="/${mobileRes!}/js/jquery-weui.js"></script>
<script src="/${mobileRes!}/js/pullToRefresh.js"></script>
<script src="/${mobileRes!}/js/back-to-top.js"></script>
</body>

</html>